*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#all{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}
/* list */
#list{
    position: relative;
    margin-top: 10px;
}
.created1{
    /* color: yellow; */
    position: relative;
    /* overflow-y: auto; */
    top: 2rem;
    left: 10rem;
    width: 10.5rem;
    height: 4rem;

    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgb(101, 101, 101);;

    border-radius: 8px;
    /* background-color: lightgreen; */
    display: flex;
    /* flex: 1; */
    padding: 20px;
    margin: 35px;
    /* margin-bottom: 10px; */
    align-items: center;
    /* justify-content: center; */

}
.disc1{
    text-align: left;
    color: rgba(0,0,0,0.6);
    font-size: 20px;
    font-style: italic;
    position: relative;
    left: -4px;
    font-weight: bold;
}
.startbtn{
    cursor: pointer;
    position: absolute;
    top: 2.3rem;
    left: 7rem;
    width: 2.8rem;
    height: 1.5rem;
    border: 2px solid lightgrey;
    border-radius: 5px;
    font-size: 1rem;
    font-family: italic;
    text-align: center;
}
/* display 2(form) */
.display2 {

    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0; 
    /* color: red; */
}
 form{
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2.5rem;
    left: 40rem;
    height: 10rem;
    width: 25rem;
    /* background-color: yellow; */
    padding: 1.5rem 2rem;
    margin: 5px;
    gap: 1.5rem;
    /* z-index: 1; */
}

form input{
    width: 12rem;
    height: 2.3rem;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 2.5px;

    box-shadow: 0 2px 4px rgb(101, 101, 101);
}
form input::placeholder{
    padding-left: 10px;
    font-size: .9rem;
    color: rgb(12, 91, 12);
    font-style: italic;
}
/* buttons */
.buttons{
    /* background-color: yellow; */
    position: absolute;
    top: 13rem;
    left: 41rem;
    height: 5rem;
    width: 22rem; 
    display: flex;
    /* flex-direction: column;  */
    align-items: center;
    justify-content: center;

    /* padding: 2.5rem;  */
}
.buttons input{
    margin: 3px 40px;
    width: 3.7rem;
    height: 2rem;
    padding: 3px;
    background: none;
    color: rgb(30, 83, 30);
    /* gap: 3rem; */
    border: none;
    border: 1.75px solid rgb(30, 83, 30);
    border-radius: 5px;

}
#add{
    width: 4rem;
}
.buttons input:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(134, 131, 131);

}

/* countDown */

#countDown{
    position: absolute;
    top: 18rem;
    left: 37rem;
    height: 18rem;
    width: 30rem;
    display: grid;
    grid-template-columns: auto auto;


}
.d{

    height: 8rem;
    width: 12rem;
    margin: 6px;
    /* padding: 5px; */
    color:rgb(1, 50, 1);
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid rgb(135, 143, 135);
    box-shadow: 0 4px 7px lightgrey;
    border-radius: 5px;

}

.d p{
    font-size: 3.2rem;
    font-weight: bold;
}
.d h3{
    position: relative;
    font-weight: bold;
    font-size: 1.3rem;

    bottom: 1.2rem;
    left: .2rem;



}
.day, .hour, .minute, .second {
    position: relative;
    top: 0.5rem;
    /* background-color: yellow; */

}

.num{
    font-style: normal;
    color:rgb(1, 50, 1);
    font-size: 3.5rem;
    font-weight: bold;
    /* background-color: yellow; */
    /* margin-top: 2rem; */


}
.text{
    position: relative;
    font-weight: bold;
    font-size: 1.3rem;
    /* margin-top: 2rem; */
    bottom: 2.2rem;
    left: .2rem;
    /* background-color: green; */
}




